{% extends "Cbrowser/base.html" %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-4 col-lg-offset-4">
                <div class="panel panel-primary" >
                    <div class="panel-heading" align="center">
                        <h4>Enter Course Details</h4>
                        <h5>For a course to show a professor must be assigned </h5>
                        <h6>(due to complete participation)</h6>
                    </div>
                    <div class="panel-body" align="center">
                        <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                                {% include "Cbrowser/form-template.html" %}
                                <div class="form-group row">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <input type="submit" class="btn btn-success" value="Add">
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}
