{% extends "Cbrowser/base.html" %}
{% block body %}
<div class="container container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Showing All Departments</h1>
        </div>
        {% if all_dept %}
            {% for a in all_dept %}
                <div class="col-sm-6 col-lg-4">
                    <div class="thumbnail">
                        <a href="{% url 'Cbrowser:detail' a.d_id %}">
                            <img src="{{ a.d_logo }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ a.dept_name }}</h2>
                            <h4>Courses offered: {{a.num_c_off}}</h4>

                            <a href="{% url 'Cbrowser:detail' a.d_id %}"
                                class="btn btn-primary btm-sm" role="button">
                                View Offered Cources
                            </a>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <h3>No data</h3>
        {% endif %}
    </div>
</div>

{% endblock  %}
